/* Fonts */
@import url(//fonts.googleapis.com/css?family=Roboto);
@import url(//fonts.googleapis.com/css?family=Anton);
@import url(//fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(//fonts.googleapis.com/css?family=Poppins);
@import url(//fonts.googleapis.com/css?family=Cairo);
@import url(//fonts.googleapis.com/css?family=Squada+One);
@import url(//fonts.googleapis.com/css?family=Russo+One);

/* Variables */
:root{
  --dark_grey:#373737;
  --light_grey:#bbbbbb;
  --mid-grey:#292929;
  --feed-bg:#e0e3e6;
  --l_blue:#caecf8;
  --dark_blue:#0B22F2;
  --medium_blue:#0684eb;
  --light_blue:#36bbeb;
  --cyan:#00FFFF;
  --pink:#FF00FF;
  --purple:#9933FF;
  --red:#FF0000;
  --dark_red:#D10000;
  --yellow:#FFFF00;
  --green:#00FF00;
  --neon_green:#93FA0B;
  --danger:#f19292a8;
  --warning:#f7f27aef;
  --info:#92d5f0c4;
  --success:#87f190b9;
  --small-shadow: -5px 4px 24px -4px #a8a8a8;
  --medium-shadow: -5px 4px 24px -4px #292929;
}

/* HTML Elements */
body,html{
  height:100%;
}

h1{
  font-family: "Merriweather Sans";
  margin:10px;
  margin-right:0;
  margin-left:0;
}

h2,h4{
  font-family: "Poppins";
}

h5,h6{
  font-family: "Roboto";
  font-weight: bold;
}

p,li,input,a{
  font-family: "Cairo";
}

p{
  font-weight: lighter;
  padding: 5px;
}

a{
  font-weight: bold;
}

button,div{
  font-family: "Russo One";
}

button{
  transition: 0.5s;
  padding: 10px 15px 10px 15px;
  margin:20px;
  margin-right:0;
  margin-left:0;
  border:0;
  border-radius: 10px;
  background-color: var(--medium_blue);
  color:white;
}

button:hover{
  background-color: var(--dark_grey);
}

ul {
  list-style-position: inside;
}

input{
  transition: 0.5s;
  padding: 5px 10px 5px 10px;
  color:black;
  background-color: var(--feed-bg);
  border:2px solid black;
  margin-bottom: 20px;
  border-radius: 5px;
  color:black;
}

input::placeholder{
  color:black;
}

input:focus{
  outline:0;
  border-radius: 15px;
  background-color: var(--l_blue);
  width:200px;
}

input:focus::placeholder{
  color: black;
}

input[type="search"]{
  transition: 0.3s;
  display: block;
  height:35px;
  width:150px;
  border-radius: 5px;
  background-color: white;
  color:black;
  margin:0;
  margin-left: 20px;
}

input[type="search"]:focus{
  width:300px
}


input[type="search"] #name-guess{
  visibility: hidden;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea{
  border-radius: 5px;
  font-family: "Cairo";
  width:80%;
  height:200px;
  transition: 0.5s;
  padding: 5px 10px 5px 10px;
  color:black;
  background-color: var(--feed-bg);
  border:2px solid black;
  margin-bottom: 20px;
}

textarea::placeholder{
  color:black;
}

textarea:focus{
  outline:0;
  border-radius: 15px;
  background-color: var(--l_blue);
}

textarea:focus::placeholder{
  color: black;
}

input[type="submit"]{
  transition: 0.5s;
  padding: 10px 15px 10px 15px;
  margin:20px;
  margin-right:0px;
  margin-left:0px;
  min-width:100px;
  width:fit-content;
  border:0;
  border-radius: 10px;
  background-color: var(--medium_blue);
  color:white;
  font-family: "Russo one";
}

hr{
  border:1px solid #c2c2c2;
}

span {
  font-family: "Cairo";
  font-weight: bold;
}

span a{
  color:black;
  text-decoration: none;
}

span a:hover{
  text-decoration: underline;
  color:var(--light_blue);
}

/* CLASS Selectors */
.center-container{
  text-align:center;
  margin: auto;
  margin-bottom:50px;
  width: 70%;
}

.right-container{
  text-align:right;
  margin-left: auto;
  margin-right: 50px;
  margin-bottom:50px;
  width: 70%;
}

.left-container{
  text-align:left;
  margin-right: auto;
  margin-left: 50px;
  margin-bottom:50px;
  width: 70%;
}

.bg-danger{
  font-weight: bolder;
  color:black;
  background-color:var(--danger);
}

.bg-warning{
  font-weight: bolder;
  color:black;
  background-color:var(--warning);
}

.bg-info{
  font-weight: bolder;
  color:black;
  background-color:var(--info);
}

.bg-success{
  font-weight: bolder;
  color:black;
  background-color:var(--success);
}

.home-bar{
  width: 100%;
  background-color: var(--mid-grey);
  color:white;
  padding-top:20px;
  padding-bottom:20px;
  padding-right: 20px;
  overflow: hidden;
}

.home-bar .align-right{
  float:right;
  margin-left:100px;
}

.dropdown_menu{
  position: absolute;
  visibility: hidden;
  z-index: 10;
  background-color: white;
  color:black;
  height:fit-content;
  padding:10px;
  border-radius: 5px;
  right:3%;
  border: 1px solid var(--light_grey);
  width:200px;
}

.dropdown_menu span::after{
  content: "\A";
  white-space: pre;
}

.dropdown_menu span:last-child::after{
  content: "";
  white-space: none;
}

.dropdown_menu span:hover{
  color:var(--light_blue);
  text-decoration: underline;
}

.fas.fa-times{
  transition: 0.2s;
  padding:10px;
}

.fas.fa-times:hover{
  color:red;
}

.project{
  padding:20px;
  transition: 0.5s;
}

.project .fas.fa-ellipsis-h{
  font-size: 20px;
  float: right;
  margin-top:-10px;
  margin-right:-10px;
}

.post{
  border-radius: 10px;
  text-align: left;
  background-color: white;
  padding:10px;
  width:50%;
  margin:auto;
  border:1px solid white;
}

.post:hover{
  border:1px solid black;
}

.post img{
  border-radius: 10px;
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:50% 50%;
}

.post-actions div{
  display: inline-block;
}

.post-actions i{
  margin:10px;
  font-size: 15px;
}

.post-actions form{
  display: inline-block;
}

.post-actions button{
  background-color: white;
}

.actions{
  padding:0;
  padding-left:10px;
  padding-right:10px;
  border-radius:5px;
  margin-right:10px;;
  color:black;
}

.actions:hover{
  background-color: rgba(0,0,0,0.05);
}

.profile-card{
  background-color: white;
  margin:auto;  
  width:65%;
  height:250px;
  border-radius: 30px;
  box-shadow: var(--small-shadow);
}

.profile-card img{
  float:left;
  transition: 0.5s;
  width: 230px;
  height: 100%;
  object-fit: cover;
  border-radius: 30px 0px 0px 30px;
}

.user-info{
  display: inline-block;
  text-align: left;
}

.delete-button{
  background-color: red;
  color:white;
}

.settings-menu{
  width:fit-content;
  margin:auto;
  text-align: left;
  padding:20px;
}

.settings-menu span::after{
  content: "\A";
  white-space: pre;
}

.settings-imgs{
  margin-bottom:20px;
}

.settings-imgs img{
  width:10%;
  height:100px;
  object-fit:cover;
  object-position:50% 50%;
}

.profile-img img{
  border-radius: 50%;;
  width:  30px;
  height: 30px;
  object-fit: cover;
}

.profile-img img:hover{
  border: 3px solid white;
}

.popup{
  text-align: left;
  z-index: 30;
  background-color: white;
  width:50%;
  padding:15px;
  margin:auto;
  margin-top:5%;
  border-radius: 20px;
}

.popup span,h1,h2,h3,h4{
  color:black;
}
/*ID Selectors*/
#background{
  width: fit-content;
  transition: 0.5s;
  background-color: white;
  padding:50px;
  border-radius: 20px;
  box-shadow: var(--small-shadow);
}

#feed_bg{
  background-color: var(--feed-bg);
}

#overlay{
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  display: none;
}

#project-dropdown{
  font-size: 18px;
  right:20%;
  padding:10px;
  width: 150px;
}

#delete-post{
  color: red;
}

#delete{
  width:fit-content;
}

#name-text{
  padding:10px;
}

#f{
  width:20%;
}

#error-box{
  width: fit-content;
  margin: auto;
  padding:50px;
  border-radius: 20px;
  box-shadow: var(--small-shadow);
}

#name-guess{
  visibility: hidden;
  border-radius: 10px;
  padding:10px;
  position: absolute;
  height:fit-content;
  width:300px;
  margin-left:20px;
  z-index: 30;
  background-color:white;
  color:black;
  box-shadow: var(--small-shadow);
}

/* Media Queries */
@media screen and (max-width:1100px){
   input[type="search"]{
    height:40px;
  }
}

@media screen and (max-width:800px){
  .right-container,.left-container{
    margin-left:0;
    margin-right:0;
    width:fit-content;
  }

  textarea{
    width:95%;
  }

  h1{
    font-size: 2em;
  }

  .profile-card{
    width:90%;
  }

  .settings-menu{
    width:100%;
    padding:none;
  }

  .settings-imgs img{
    width:50%;
  }

  .settings-menu input[type="file"]{
    max-width:300px;
  }

  input[type="file"]{
    width:230px;
  }

  .popup{
    padding:10px;
  }

  #projects{
    padding:10px;
    padding-top:60px;
  }

  .popup{
    z-index: 30;
    background-color: white;
    width:95%;
    margin:auto;
    margin-top:15%;
  }
  
  .profile-card{
    box-shadow: var(--medium-shadow);
    text-align: center;
    margin:auto;  
    width:85%;
    height:fit-content;
  }

  .profile-card img{
    float:none;
    margin:10px;
    width:  100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
    margin-top:-20px;
  }

  #name-text{
    padding:none;
  }

  #f{
    width:95%;
  }

  .post{
    width:90%;
    margin:auto;
  }

  #project-dropdown{
    right:3%;
    padding:10px;
    width: 150px;
  }

  input[type="search"]:focus{
    width:150px;
  }
}